/* Banner */

.banner {
    text-align: center;
    width: 100%;
}

/* Table */

.main-content .data-list {
    width: 47%;
    display: flex;
    margin: 1.5vw 1.5%;
}

.main-content section {
    display: flex;
    background-color: #fbfbfb;
    border: 1px solid #dfdfdf;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;
    max-width: 100%;
}

.places {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
}

.places ol {
    margin: 0 0 2em 0;
    list-style: none;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

ol{ 
    margin: 0;
    padding: 0;
}

.places li {
    padding: 5px 0;
    position: relative;
    border-bottom: 1px solid #B1B1B1;
    counter-increment: step-counter;
    padding-left: 40px;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.places li a {
    margin-right: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #167ac6;
    text-decoration: none;
}

.places li > .wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.places .nick {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    overflow: hidden;
}

.places .detail {
    border-bottom: 0;
    padding: 15px 0 0 0;
}

.stats {
    color: #c64cff;
    align-self: center;
}

.stats-center {
    color: #25c2dd;
}

h2 {
    font-size: 1.75em;
    letter-spacing: -0.025em;
    color: #47463f;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.75em;
}

.main-content section header p {
    color: #999;
    font-size: 1.25em;
    position: relative;
    margin-bottom: 1em;
    margin-top: 0;
}

.clans-ava {
    width: 32px;
    height: 32px;
    border-radius: 100px;
}

.places .nick .clanNameStat {
    display: flex;
    align-items: center;
    margin-left: 5px;
    white-space: nowrap;
}

.places .nick .clanNameStat a {
    margin: 0;
}

.places li:first-child::before {
    background-color: gold;
    color: white;
    font-size: 22px;
}

.places li:nth-child(2):before {
    background-color: silver;
    color: white;
    font-size: 22px;
}

.places li:nth-child(3):before {
    background-color: #E8B17A;
    color: white;
    font-size: 22px;
}

.places li:last-child::before {
    background-color: white;
    color: white;
    font-size: 22px;
}

.places li:before {
    content: counter(step-counter);
    width: 40px;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    line-height: 39px;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: -40px;
}